<ion-header>
  <ion-navbar>
    <button icon-only class="fr">
      <mores></mores>
    </button>
    <ion-title>{{params.get('title')}}</ion-title>
  </ion-navbar>
  <div class="recharge mt0">
    <div class="recharge-con block" *ngIf="!isTitle">
      <ion-segment>
        <ion-segment-button (click)="clickFilter('9')" value="9">全部</ion-segment-button>
        <ion-segment-button (click)="clickFilter('3')" value="3">已中奖</ion-segment-button>
        <ion-segment-button (click)="clickFilter('0')" value="0">待开奖</ion-segment-button>
        <ion-segment-button (click)="clickFilter('2')" value="2">未中奖</ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <ul class="record clear">
    <li class="record-li">
      <ion-list>
        <ion-item>
          <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
                        [(ngModel)]="eventOne.timeStarts"></ion-datetime>
        </ion-item>
      </ion-list>
      <i class="iconfont icon-fanhui icon-down"></i>
    </li>
    <li class="record-li">
      <ion-list>
        <ion-item>
          <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
                        [(ngModel)]="eventOne.timeEnds"></ion-datetime>
        </ion-item>
      </ion-list>
      <i class="iconfont icon-fanhui icon-down"></i>
    </li>
    <li class="record-li">
      <ion-list>
        <ion-item>
          <ion-label>全部游戏</ion-label>
          <ion-select [(ngModel)]="eventOne.id" cancelText="取消" okText="确认" placeholder="全部游戏">
            <ion-option value="">全部</ion-option>
            <ion-option *ngFor="let item of share?.dataItems;let i = index;" value="{{item.pid}}">{{item.name}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <i class="iconfont icon-fanhui icon-down"></i>
    </li>
  </ul>
</ion-header>
<ion-content class="gray-bg">
  <div *ngIf="!isTitle">
    <div class="recharge mt0">
      <div class="recharge-con block">
        <div>
          <ion-list>
            <ul class="bet-record">
              <li *ngFor="let item of gameData" (click)="goDetail(item)">
                <div class="my-table">
                  <div class="my-row">
                    <div class="my-cell start-col">
                      <div class="text-2">{{(item.created_at?.replace(share.yearReg, ''))}}</div>
                    </div>
                    <div class="my-cell large-col">
                      <div class="text-1">{{item.friendly_name}}</div>
                      <div class="text-2 nowrap">金额:{{item.amount}}</div>
                    </div>
                    <div class="my-cell big-col center">
                      <div class="col-3">{{item.display_bet_number}}</div>
                    </div>
                    <div class="my-cell end-col right">
                      <div class="text-2 nowrap" [class.orange]="item.status == 3" [class.green]="item.status == 0">
                        {{statusName[item.status]}}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </ion-list>
        </div>
      </div>
      <no-data-remind *ngIf="!gameData?.length"></no-data-remind>
    </div>
  </div>
  <div *ngIf="isTitle">
    <div class="recharge mt0">
      <div class="recharge-con block">
        <div>
          <ion-list>
            <ul class="bet-record">
              <li *ngFor="let item of gameData" (click)="goDetail(item)">
                <div class="my-table">
                  <div class="my-row">
                    <div class="my-cell avg-col">
                      <div class="text-2">{{(item.created_at?.replace(share.yearReg, ''))}}</div>
                    </div>
                    <div class="my-cell avg-col">
                      <div class="text-1 nowrap">{{item.friendly_name}}</div>
                    </div>
                    <div class="my-cell avg-col center">
                      <div class="text-2">金额：</div>
                      <div class="text-2 nowrap">{{item.amount}}</div>
                    </div>
                    <div class="my-cell avg-col center">
                      <div class="text-2">余额：</div>
                      <div class="text-2 nowrap">{{item.balance}}</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </ion-list>
        </div>
      </div>
      <no-data-remind *ngIf="!gameData?.length"></no-data-remind>
    </div>
  </div>
</ion-content>
