page-add-bank {
  .bank-pic{
    padding-top:90px;
    text-align: center;
    .bank-text{
      margin-top:20px;
      font-size: 1.8rem;
      margin-bottom:5px;
      color: #3e3e3e;
    }
  }

  .bank-btn{
    margin-bottom: 0;
    width: 60px;
    font-size: 1.5rem;
    margin-top:4px;
    border-radius: 0;
  }
}
